<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Northwind.Web.MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        @if (IsSectionDefined("Headers"))
        {
            @RenderSection("Headers", false)
        }
        else
        {
            <nav class="navbar navbar-light navbar-1 white">
                <a asp-controller="Home" asp-action="Index" class="navbar-brand">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a asp-controller="Users" asp-action="Login" class="nav-link">Sign In</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Users" asp-action="Register" class="nav-link">Sign Up</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a asp-controller="Users" asp-action="Logout" class="nav-link">Logout</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a asp-controller="Products" asp-action="Index" class="nav-link">Products</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Categories" asp-action="Index" class="nav-link">Categories</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Administrator" asp-action="Index" class="nav-link">Users</a>
                        </li>
                    </ul>
                </div>
            </nav>

        }
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer">
        @if (IsSectionDefined("Footers"))
        {
            @RenderSection("Footers", false);
        }
        else
        {
            <p class="ml-lg-5">&copy; 2019 Copyright .NET Core</p>
        }
    </footer>
    <environment names="production">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    </environment>
    <environment names="development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
